body {
  font-family: BYekan !important;
}
.bg-light{
  background-color: rgb(248, 248, 248)
}
.bg-light:hover{
  background-color: rgb(231, 231, 231)
}
.card{
  z-index: 1;
  border: 1px solid rgb(230, 230, 230);

  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px gray
}

a{
  text-decoration: none
}
a:hover{
  text-decoration: none
}
img.zoom {
  width: 200px;
  height: 270px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  z-index: 3;
}

.transition {
  -webkit-transform: scale(1.8); 
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
}
.description{
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}