body {
    background: #fafafa;
    font-family: BYekan !important;
    overflow: hidden;

}
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.main{
    height: 100vh;
    overflow: hidden;
}
#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: rgb(110, 110, 223);
    color: #fff;
    transition: all 0.3s;
    height:100vh;
}

#sidebar .sidebar-header {
    background: rgb(110, 110, 223);
}
#sidebar .sidebar-header h3{
    font-size: 25px;
    text-align: center;
    padding: 10px;
}
#sidebar ul.components {
    padding:0 0 20px 0;
}
#sidebar ul.components li {
    margin: 5px;
}
#sidebar ul.components li span{
    margin: 0 10px;
}
#sidebar ul.components i{
    padding: 0 5px 0 0;
}
#sidebar ul p {
   text-align: center;
   font-weight: 500;
   font-size: 20px;
    color: #fff;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #83b9d493;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: rgb(110, 110, 223);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
::-webkit-scrollbar {
    transform:scaleX(1);
    width:10px ;
  }
  
  /* Track */

::-webkit-scrollbar-track {
    background: rgb(199, 198, 198); 
    border-radius: 5px;
  }
  
  /* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: gray; 
  }
  
  /* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 80, 80); 
  }
header{
    height: 50px;
}
.navbar{
    height: 100%;
    background-color: rgb(110, 110, 223);
}
 .navbar a{
     padding: 20px;
 }
 .navbar a:hover{
    color: rgb(110, 110, 223);
    background-color:white;
}
.navbar span{
    font-weight: bold;
    font-size: 18px;
    color:white;
}
.navbar ul li{
    font-weight: bold;
    font-size: 18px;
    padding: 0px;
    color:white;
}
.content{
    background-color: white;
    max-height: 93%;
    min-height: 93%;
    overflow: hidden;
}
.form{
    background-color:#eeeeee;
    margin-top:20px;
    box-shadow: 0px 0px 10px 0px rgb(162, 162, 255);
}
.container .content {
    overflow-y: auto;
}

/* tabels */
table{
    border-radius: 15px;
}


/* end tables */

/* forms */
.form-row {
    justify-content: flex-end;
    padding: 0 50px;
}
.create-btn{
    margin: 20px auto!important;
}

/* switches */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 19px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }